{% extends 'core/base.html' %}

{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href=" {% static '/index_style.css' %} ">



<body>
<a>
    <center>
        <a href="#" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700" style = "position:absolute;margin-left:43%;margin-top:3%;z-index:2;">Log In</a>

    <img src="media/product-images/hypertheme.gif"
    alt="no image" style = "position:absolute;top:0px;left:0px;width:100%;height:1000px;" />
    <img src="media/product-images/temp1.png"
    alt="no image" style = "position:relative;top:-1325px;left:1080px;width:200px;height:1100px" />



        </center>
</a>
</body>

        <h2>Scroll Carousel</h2>
        <div class ='grid2'>
            <div class="grid2-div">
                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>
                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>

                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>
                                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>
                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>
                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>
                <div class="item2">
                    <div class="item-image">
                        <img src="https://user-images.githubusercontent.com/334891/29999089-2837c968-9009-11e7-92c1-6a7540a594d5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Carousel item title.
                        </h4>
                        <p class="item-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce vel malesuada risus, sit amet pharetra dolor.
                        </p>
                    </div>
                </div>

            </div>
                </div>
</div>










    <div class="mt-6 px-6 py-6 py-12 bg-gray-100 rounded-xl" style = "background-color:transparent;">
        <h2 class = "mb-12 text-2xl text-center" style = "position:relative;top:-80px; background color-transparent;"> Bargain GPUS </h2>
        <div class = "grid grid-cols-3 gap-3" style = "position:relative;top:-140px; background color:transparent;">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class = "rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class = "text-gray-500">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="mt-6 px-6 py-6 py-12 bg-gray-100 rounded-xl">
        <h2 class = "mb-12 text-2xl text-center"> Shop by Type </h2>
        <div class = "grid grid-cols-3 gap-3">
            {% for category in categories %}
            <div>
            <a href = '#'>
                <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ category.name }}</h2>
                        <p class = "text-gray-500">{{ category.items.count }}</p>
                    </div>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}